<h1 class="center">
  My History
</h1>
<br>
  <div class="col-md-8 center">
    <div class="card mb-3">
      <div class="card-body">
        <table id="customers">
          <tr>
            <th >Events</th>
            <th >Ticket</th>
          </tr>
          <tr>
            <td>Big Boussa</td>
            <td>12536445755</td>
          </tr>
          <tr>
            <td>Salsa Dance</td>
            <td>516849161698</td>
          </tr>
          <tr>
            <td>Beach party</td>
            <td>--</td>
          </tr>
        </table>
     </div>
   </div>
 </div>
