<br>

<div class="card">
  <img src="../../../assets/images/qrcode.png" alt="image" />

  <h1>tickets</h1>

  <table>
      <tr>
          <td><strong>Event Name</strong></td>
          <td>Big boussa</td>
      </tr>
      <tr>
          <td><strong>Date</strong></td>
          <td>30/05/2021</td>
      </tr>
      <tr>
          <td><strong>Time</strong></td>
          <td>6 PM</td>
      </tr>
      <tr>
          <td><strong>Place</strong></td>
          <td>Municipal theater</td>
      </tr>
  </table>
</div>
<br>
<div class="card2">
<button type="button" class="btn">Download your ticket</button>
</div>