.error { color: red; }
#eye{
    position: relative;
    left: 400px;
    transform: translate(0,-15%);
    top: -25px;
    cursor: pointer;
    font-size: 20px;
    color: #7a79;
}

#eye2{
    position: relative;
    left: 400px;
    transform: translate(0,-15%);
    top: -25px;
    cursor: pointer;
    font-size: 20px;
    color: #7a79;
}

#eye3{
    position: relative;
    left: 400px;
    transform: translate(0,-15%);
    top: -25px;
    cursor: pointer;
    font-size: 20px;
    color: #7a79;
}

#eye4{
    position: relative;
    left: 400px;
    transform: translate(0,-15%);
    top: -25px;
    cursor: pointer;
    font-size: 20px;
    color: #7a79;
}

#eye5{
    position: relative;
    left: 340px;
    transform: translate(0,-15%);
    top: 40px;
    cursor: pointer;
    font-size: 20px;
    color: #7a79;
}
