
<!-- page -->
<!-- <div class="services-breadcrumb">
  <div class="agile_inner_breadcrumb">
    <div class="container">
      <ul class="w3_short">
        <li>
          <a href="index.html">Home</a>
          <i>|</i>
        </li>
        <li>About Us</li>
      </ul>
    </div>
  </div>
</div>-->



<!-- //page -->
<!-- about -->
<div class="welcome py-sm-5 py-4">
  <div class="container py-xl-4 py-lg-2">
    <!-- tittle heading -->
    <h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
      <span>A</span>bout
      <span>U</span>s</h3>
    <!-- //tittle heading -->
    <div class="row">
      <div class="col-lg-6 welcome-left">
        <h3 class="centrer" >Welcome</h3>
        <h4 class="my-sm-3 my-2" class="centrer" >We are the largest event technology platform in the world.<br> 
           We enable the launch of millions of events in more than 170 countries and territories.<br>
           We develop intuitive technology to help you create, promote, manage and optimize your events.<br></h4>
        <p class="centrer" >Take advantage of the time saved to create unforgettable live experiences!</p>
      </div>
      <div class="col-lg-6 welcome-right">
        <img src="../../../assets/images/event.jpg" width="400" height="250">
      </div>
    </div>
  </div>
</div>
<!-- //about -->