
<br>
<div class="container">
  <div class="row">
      <div class="col-lg-6 mb-5 mb-lg-0">
          <div *ngIf="event" >
            <img class="featured-image" src="http://localhost:5000/{{event.picture}}" with="200" >
            <h1>{{event.title}}</h1>
          </div>
        </div>  
        <div class="col-lg-6 mt-5 mt-md-0">
          <h3>{{event.title}}</h3>
          <h4>{{event.description}}</h4>
          <hr>
          <h3>DATE:</h3><h4>{{event.date}}</h4>
          <br>
          <h3>TIME:</h3><h4>{{event.time}}</h4>
          <br>
          <h3>PLACE:</h3><h4>{{event.place}}</h4>
          <br>
          <div class= "row">
            
              <button
                class="snipcart-add-item"
                attr.data-item-id="{{event._id}}"
                attr.data-item-name="{{event.title}}"
                attr.data-item-price="{{product.price}}"
                attr.data-item-url="shop/{{product._id}}"
                attr.data-item-description="{{event.description}}"
                mat-raised-button
                color="primary">
                Add To Cart
              </button>
            
            
                <button 
                class="snipcart-add-item"
                attr.data-item-id="{{event._id}}"
                attr.data-item-name="{{event.title}}"
                attr.data-item-price="{{product.price}}"
                attr.data-item-url="shop/{{product._id}}"
                attr.data-item-description="{{event.description}}"
                mat-raised-button
                color="primary">
                buy
              </button>
            
              <button  (click)="backClicked()"
              
              color="danger">
              back >>

            </button>

          </div>
        </div>
   </div>
</div>