
<footer>
  <br>
  <!-- footer third section -->
  <div class="w3l-middlefooter-sec">
    <div class="container py-md-5 py-sm-4 py-3">
      <div class="row footer-info w3-agileits-info">
        <!-- footer categories -->
        <div class="col-md-3 col-sm-6 footer-grids cntr">
          <ul>
            <li class="mb-3 it">
              <img src="./assets/images/logoM.png" alt=" " class="img-fluid"> RESERVI
            </li>
            <li class="mb-3"><p>
              An online ticketing service offered by ItGate.<br>
              Its vocation is to offer you the reservation and purchase in real time of your
              tickets for shows, sports and leisure throughout Tunisia.<br>
              Our platform offer you a complete and reliable service.</p>
            </li>
          </ul>
        </div>
        <!-- //footer categories -->
        <!-- quick links -->
        <div class="col-md-3 col-sm-6 footer-grids mt-sm-0 mt-4" >
          <h3 class="text-white font-weight-bold mb-3 cntr " >Quick Links</h3>
          <ul>
            <li class="mb-3">
              <a href="about" class="cntr">About Us</a>
            </li>
            <li class="mb-3">
              <a href="contact" class="cntr">Contact Us</a>
            </li>
            <li class="mb-3">
              <a href="events" class="cntr">Events</a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 footer-grids mt-md-0 mt-4">
          <h3 class="text-white font-weight-bold mb-3 cntr">Get in Touch</h3>
          <ul>
            <li class="mb-3 cntr">
              <i class="fas fa-map-marker"></i><a href="https://www.google.com/maps/place/Sousse/@35.8283295,10.5830349,13z/data=!3m1!4b1!4m5!3m4!1s0x130275759ac9d10d:0x698e3915682cef7d!8m2!3d35.8245029!4d10.634584?hl=fr" target="_blank" > Sousse, TUNISIA.</a></li>
            <li class="mb-3 cntr">
              <i class="fas fa-mobile"></i> (+216) 50 592 906 </li>
            <li class="mb-3 cntr">
              <i class="fas fa-phone"></i> (+216) 73 212 492 </li>
            <li class="mb-3 cntr">
              <i class="fas fa-envelope-open"></i>
              <a href="mailto:example@mail.com"> abirlakhal20@gmail.com</a>
            </li>
            <li class="mb-3 cntr">
              <i class="fas fa-envelope-open"></i>
              <a href="mailto:example@mail.com"> abir.lakhal2020@gmail.com</a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 footer-grids w3l-agileits mt-md-0 mt-4">
          <!-- social icons -->
          <div class="footer-grids w3l-socialmk mt-3">
            <h3 class="text-white font-weight-bold mb-3 cntr">Follow Us on</h3>
            <div class="social cntr">
              <ul>
                <li>
                  <a class="icon fb" href="#">
                    <i class="fab fa-facebook-f "></i>
                  </a>
                </li>
                <li>
                  <a class="icon tw" href="#">
                    <i class="fab fa-twitter"></i>
                  </a>
                </li>
                <li>
                  <a class="icon gp" href="#">
                    <i class="fab fa-google-plus-g"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <!-- //social icons -->
        </div>
      </div>
      <!-- //quick links -->
    </div>
  </div>
  <!-- //footer third section -->
  <br>
</footer>
<!-- //footer -->
<!-- copyright -->
<div class="copy-right py-3">
  <div class="container">
    <p class="text-center text-white">© 2021 RESERVI.TN | All Rights Reserved By
      <a href="https://www.facebook.com/abir.lakhal" target="_blank" > Abir.</a>
    </p>
  </div>
</div>
<!-- //copyright -->
