
  .center {
    margin: auto;
    width: 60%;
    //border: 3px solid #f5c6cb;
    padding: 10px;
    text-align: center;
  }
  p{
    color: rgb(0, 0, 0);
  }
  .bn {
    margin-left: 370px;
    width: 30%;
    color:rgb(255, 255, 255);
    background-color: #b3020d;
  }
  