<!-- header-bottom-->
<div class="header-bot">
    <div class="container">
      <div class="row header-bot_inner_wthreeinfo_header_mid">
        <!-- logo -->
        <div class="col-md-3 logo_agile">
          <h2 class="text-center">
            <div class="font-weight-bold font-italic">
              <img src="./assets/images/logoM.png" alt=" " class="img-fluid"> RESERVI
            </div>
          </h2>
        </div>
        <!-- //logo -->
      
        <div class="row">
          <div class=".col-12 .col-md-8">
            <h1> Dashboard Admin </h1>
          </div>
          <div class=".col-6 .col-md-4 ">
            <br>
            <button class=" ci btn my-2 my-sm-0" routerLink="/" >BACK</button>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- navigation -->

  <div id="left-sidebar" class="sidebar">
    <div class="sidebar-scroll">
        
            
            <hr>
            
        </div>
        <!-- Nav tabs -->
    
           
        <!-- Tab panes -->
        <div class="tab-content p-l-0 p-r-0">
            <div class="tab-pane animated fadeIn active">
                <nav class="sidebar-nav">
                    <!--<ol class="main-menu metismenu" style="margin-top: 20px; margin-left: 20px;">-->
                      <div class="row" style="margin-left: 240px;" >
                        <div class="col-md-2"> <a href="admin" ><strong>Home</strong></a></div>
                        <div class="col-md-2"> <a href="admin/organizers"><strong>Organizers</strong></a></div>
                        <div class="col-md-2"> <a href="admin/clients"><strong>Clients </strong></a></div>
                        <div class="col-md-2"> <a href="admin/allevent"> <strong>Events </strong></a></div>
                        <div class="col-md-2"> <a href="admin/message"><strong>Messageries </strong></a></div>
                        <div class="col-md-2"> <a href="admin/cat"><strong>Categories </strong></a></div>
                      </div>
                </nav>
         </div>  
                 
</div>
<hr>
